body {
    margin: 0;
    background-color: #1F2937;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


h1{
    font-family: "karla", sans-serif;
    font-weight: bolder;
    color:#ffffff ;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
}
.second-line {
    display: block; /* Forces it to start on a new line */
    color: #4ADF86;
    font-weight: 900;
    
}

#tag-line{
    font-family: "inter", sans-serif;
    color: #D5D4D8;
    margin: 10px 0px 40px 0px;
}

button{
    font-family: "inter", sans-serif;
    background-color: #10B981;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: none;
    margin-bottom: 40px;

}


/*Second section*/

.line {
    border-top: 1px solid #273549;
    
}

.output {
    display: flex;
    align-items: flex-start;
}

.textBox1{
    background-color: #273549;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    margin: 40px 20px 10px 10px;
    
}


.textBox2{
    background-color: #273549;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    margin: 20px 20px 10px 10px;
}

#passwordOne {
    color: #10B981;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#passwordTwo {
    color: #10B981;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
