body {
    margin: 0;
    background-color: #1F2937;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}


h1{
    font-family: "karla", sans-serif;
    font-weight: bolder;
    color:#ffffff ;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
}
.second-line {
    display: block; /* Forces it to start on a new line */
    color: #4ADF86;
    font-weight: 900;
    
}

#tag-line{
    font-family: "inter", sans-serif;
    color: #D5D4D8;
    margin: 10px 0px 20px 0px;
}

.btn{
    font-family: "inter", sans-serif;
    background-color: #10B981;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #ffffff;
    
}
.btn:active {
    background-color: #02442e;
    color: #D5D4D8;
    transition: 0.1s;
}




/*Second section*/

.output {
    display: flex;
    align-items: center; /* Vertically centers button and text boxes */
    gap: 20px; /* Adds spacing between the button and each text box */
}

.line {
    border-top: 1px solid #273549;
    width: 100%;
   
}

.textBox1,
.textBox2 {
    background-color: #273549;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 20px 0px 20px 0px;
    width: 140px;
    text-align: center;
}


#passwordOne,#passwordTwo {
    color: #10B981;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    background-color:green ;
    border: 10px solid pink
}

#passwordOne:hover, #passwordTwo:hover {
    border: 1px solid #ffffff;
    
}
#passwordOne:hover:active, #passwordTwo:hover:active  {
    background-color: #02442e;
    color: #D5D4D8;
    transition: 0.1s;
}


/*password length section*/

#displayLength{
    font-family: "inter", sans-serif;
    color: #D5D4D8;
    font-size: small;
    
}